#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  .calculationsDivs {
    text-align: center;
    border-radius: 15px;
    background-color: var(--green);
    color: var(--gris);
    font-size: 14px;
    border: 1px solid black;
    margin-block: 0.5rem;
    padding: 0.5rem;
    span {
      font-size: 12px;
    }
  }
}

.inputLineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;

  .inputFormMainContainer:first-child {
    width: 70%;
  }
  .inputFormMainContainer:last-child {
    width: 30%;
  }
}
