.dinamicResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  background-color: var(--grisClaro);
  padding: 1rem;
  border-radius: 15px;
  .estimatedMontlyPayment {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grisClaro);
    padding-bottom: 1rem;
    gap: 0.5rem;
    text-align: right;
    strong {
      font-size: 1.5rem;
    }
  }
  .asociatedValues {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid var(--grisClaro);
    padding-block: 1rem;
    text-align: right;
    p {
      font-size: 12px;
      strong {
        margin-left: 0.3rem;
      }
    }
  }
}
