.inputFormMainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.inputFormContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.inputFormContainer > label {
  font-size: 12px;
}

.inputForm {
  padding-inline: 0.5rem;
  font-size: 12px;
  flex: 1;
}

.inputMainContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.clarificationTextContainer {
  position: absolute;
  right: 0;
  background-color: gray;
  height: 1.5rem;
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-inline: 0.3rem;
  color: white;
  font-size: 12px;
}

.errorMessage {
  font-size: 0.7rem;
  color: var(--purple);
  align-self: flex-end;
}
