.inputFormMainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inputFormContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.inputFormContainer > label {
  font-size: 12px;
}

.inputForm {
  padding-inline: 0.5rem;
  font-size: 12px;
}

.inputMainContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.clarificationTextContainer {
  position: absolute;
  right: 0;
  padding: 0;
  background-color: gray;
  height: 1.5rem;
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-inline: 0.2rem;
  color: white;
}

.errorMessage {
  font-size: 0.7rem;
  color: var(--purple);
  align-self: flex-end;
}
