#detailTable {
  margin-block: 2rem;
  width: 100%;
  .show {
    margin-block: 2rem;
  }
}

.tableButtonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 2rem;
  button {
    background-color: var(--purple);
    border: none;
    padding: 1rem;
    color: var(--blancoPuro);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px var(--grisClaro);
    font-weight: 700;
    font-size: 15px;
    &:hover {
      opacity: 0.9;
    }
  }
}

.tableTitle {
  text-align: center;
  font-weight: 700;
}

.tableMainContainer {
  width: 100%;
  padding: 1rem;
  font-size: 14px;
  height: 250px;
  overflow-y: scroll;

  .tableContainer {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;

    .tableHead {
      background-color: var(--purple);
      color: var(--blancoPuro);
      text-align: center;
      .tableHeadRow {
        th {
          font-weight: 400;
        }
      }
    }
    tbody {
      text-align: center;
    }
  }
}
